.btn-primary {
  background-color: var(--bs-primary);
}

.light-theme {
  --bs-body-color: #1e1e1e;
  --bs-body-bg: #eeeeee;
}

.dark-theme {
  --bs-primary: #39b5f3;
  --bs-body-color: #ffffff;
  --bs-body-bg: #031d2a;
}
